<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="jq/jquery-3.1.1.min.js"></script>
    <script src = "angular.min.js"> </script>
    <script src = "app2.js"> </script>
</head>
<body ng-app="myApp2">
<div class = "container" ng-controller="myCtrl">
    <div ng-include="'cal.html'"></div>
    <b>Name :</b> <input type="text" ng-model="firstName">
    <br>
    <b> password </b><input type="password" ng-model="pswrd"><br>
    Check to show a pswrd:
    <input type="checkbox" ng-model="myVar">
    </form>
    <h1 ng-show="myVar">{{pswrd}}</h1>

    <p>Select a country </p>

    <select ng-model="selected" ng-options="x for x in names">
    </select>

    <h1>You selected: {{selected}}</h1>


    <w3-test-directive></w3-test-directive>

</div>
</body>
</html>